/**
 * CSS styles special for homepage
 */

body {
  font-size: 15px;
}

.jk-header {
  padding: 60px 15px 20px; /* side padding builds on .container 15px, so 30px */
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.jk-nav {
}

.jk-nav .nav > li.active {
  font-weight: bold;
}


