---
layout: page

---

<div class="row">
  <div class="col-md-3" id="nav-bar">
    <div class="hidden-print affix-top">
      <ul class="nav nav-list nav-stacked">
        {% for nav in site.JK.navs %}
          <li>{{ nav.title }}</li>
          <ul class="nav">
            {% for menu in nav.menus %}
              <li {% if menu.menu == page.menu %}
                    class="active"
                  {% endif %}>
                <a href="{{menu.url}}">{{menu.menu}}</a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-9" id="content">
    {{content}}
  </div>
</div>




