---
layout: default
---
<div>
  <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
      <div class="nav-header">
        <a class="navbar-brand hidden-sm" href="/">CRAZY JACK</a>
      </div>
      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="home.html">主页</a></li>
          <li><a href="about.html">关于我</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{site.JK.pages.blog.addr}}">{{site.JK.pages.blog.name}}</a></li>
          <li><a href="{{site.JK.pages.life.addr}}">{{site.JK.pages.life.name}}</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="jumbotron jk-header" id="overview">
    <div class="container">
      <h1>Jack Sun</h1>
      <p class="">小小的栈</p>
    </div>
  </div>
  <div class="container">
    {{content}}
  </div>
</div>

